<div class="profile">
    <div class="page-header">
      <h1>Profile Details</h1>
    </div>
  
  
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card stat-card">
              
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="col-auto">
                    <div class="row g-3 align-items-center">
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="col-md-12">
                      <table class="table">
                          <tbody>
                            <tr>
                              <td><i class="fa-solid fa-user" style="color: #9FA6B2; margin-right: 10px;"></i>Full Name</td>
                              <td>Otto</td>
                            </tr>
                            <tr>
                              <td><i class="fa-solid fa-id-badge" style="color: #9FA6B2; margin-right: 10px;"></i>Username</td>
                              <td>Thornton</td>
                            </tr>
                            <tr>
                              <td><i class="fa-solid fa-envelope" style="color: #9FA6B2; margin-right: 10px;"></i>Email</td>
                              <td>Doe</td>
                            </tr>
                            <tr>
                              <td><i class="fa-solid fa-phone" style="color: #9FA6B2; margin-right: 10px;"></i>Phone No.</td>
                              <td>Doe</td>
                            </tr>
                            <!-- <tr>
                              <td>Status</td>
                              <td>Doe</td>
                            </tr> -->
                            <tr>
                              <td><i class="fas fa-calendar-alt" style="color: #9FA6B2; margin-right: 10px;"></i>Joined Date</td>
                              <td>Doe</td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
  