<div class="dashboard">
    <div class="page-header">
        <h1>Add Task</h1>
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav> -->
    </div>

    <!-- <div class="d-flex justify-content-center row"> -->
        <div class="col-md-12">
            <div class="card stat-card">
                <div class="card-body">
                    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                        <div class="row d-flex justify-content-between">
                            <div class="col-md-6 mb-3">
                                <label for="taskName" class="form-label">Task Name</label>
                                <input type="text" class="form-control" id="taskName" formControlName="taskName"
                                    placeholder="Enter Task Name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="taskDescription" class="form-label">Task Description</label>
                                <textarea class="form-control" id="taskDescription" rows="3" formControlName="taskName"
                                    placeholder="Enter Task Description"></textarea>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between">
                            <div class="mb-3">
                                <label for="taskAssignee" class="form-label">Task Assignee</label>
                                <!-- <input type="text" class="form-control" list="taskAssigneeOptions" id="taskAssignee" formControlName="taskAssignee"
                                    placeholder="Enter Task Assignee"> -->
                                <select class="form-select" id="taskAssignee" formControlName="taskAssignee">
                                    <option value="" disabled selected>Select Task Assignee</option>
                                    <option value="Arjuna Randeniya">Arjuna Randeniya</option>
                                    <option value="Gihan Perera">Gihan Perera</option>
                                    <option value="Lakshan Chalaka">Lakshan Chalaka</option>
                                    <option value="Anushka Chathumal">Anushka Chathumal</option>
                                    <option value="Chanaka Herath">Chanaka Herath</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="taskDueDate" class="form-label">Task Due Date</label>
                                <input type="date" class="form-control" id="taskDueDate" formControlName="taskDueDate">
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-success me-md-2">Save Task</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>