<div class="dashboard">
  <div class="page-header">
    <h1>Task List</h1>
  </div>


  <div class="col-md-12">
    <!-- <div class="card stat-card">
      <div class="card-body">
        @if (currentUserData.role.name === 'ADMIN') {
        <div class="d-flex justify-content-between">
          <div class="col-auto">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="taskAssignee" class="col-form-label">Task Assignee</label>
              </div>
              <div class="col-auto">
                <form [formGroup]="taskAssigneeForm">
                  <select id="taskAssignee" class="form-select form-select-sm" formControlName="taskAssignee"
                    (ngModelChange)="loadTasksTableOnChangeAssignee($event)">
                    <option value="" disabled selected>Select Task Assignee</option>
                    <option value="all">All</option>
                    @for (assignee of usersList; track assignee.id) {
                    <option value='{{ assignee.id }}'>{{ assignee.name }}</option>
                    }
                  </select>
                </form>
              </div>
            </div>
          </div>
  
          <div class="col-auto">
            <button type="button" class="btn btn-primary btn-sm mb-2" (click)="navigateToTaskForm()">Add New Task</button>
          </div>
        </div>
        }
  
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Task Name</th>
              <th scope="col" class="text-center">Task Assignee</th>
              <th scope="col" class="text-center">Task Status</th>
              <th scope="col" class="text-center">Task Due Date</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (task of tasksList; track task.id; let i = $index) {
            <tr>
              <th scope="row" class="text-center">{{ i + 1 }}</th>
              <td>{{ task.name }}</td>
              <td class="text-center">{{ task.assignee.name }}</td>
              <td class="text-center">
                @if (task.status == 'OPENED') {
                <span class="badge rounded-pill text-bg-info">{{ task.status }}</span>
                } @else if (task.status == 'IN PROGRESS') {
                <span class="badge rounded-pill text-bg-warning">{{ task.status }}</span>
                } @else if (task.status == 'COMPLETED') {
                <span class="badge rounded-pill text-bg-success">{{ task.status }}</span>
                }
              </td>
              <td class="text-center">{{ task.dueDate | date: "yyyy'-'MM'-'dd" }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="getTaskView(task.id)">
                  <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary ms-2" (click)="navigateToEditForm(task.id)">
                  <i class="fas fa-pen-to-square"></i>
                </button>
                @if (currentUserData.role.name === 'ADMIN') {
                <button type="button" class="btn btn-sm btn-danger ms-2" (click)="deleteTaskById(task.id)">
                  <i class="fas fa-trash-can"></i>
                </button>
                }
              </td>
            </tr>
            }
          </tbody>
        </table>
  
  
  
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          data-bs-backdrop="static" data-bs-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  (click)="onModalClose()"></button>
              </div>
              <div class="modal-body">
                <h3 class="text-center">Task Details</h3>
  
                <p class="fs-6" hidden>{{ taskById.id }}</p>
  
                <h6 class="mb-0">Task Name</h6>
                <p class="fs-6">{{ taskById.name }}</p>
  
                <h6 class="mb-0">Task Description</h6>
                <p class="fs-6">{{ taskById.description }}</p>
  
                <h6 class="mb-0">Task Assignee</h6>
                <p class="fs-6">{{ taskAssignee.name }}</p>
  
                <div class="d-flex justify-content-between">
                  <div class="col-md-6">
                    <h6 class="mb-0">Task Status</h6>
                    @if (taskById.status == 'OPENED') {
                    <span class="badge rounded-pill text-bg-info">{{ taskById.status }}</span>
                    } @else if (taskById.status == 'IN PROGRESS') {
                    <span class="badge rounded-pill text-bg-warning">{{ taskById.status }}</span>
                    } @else if (taskById.status == 'COMPLETED') {
                    <span class="badge rounded-pill text-bg-success">{{ taskById.status }}</span>
                    }
                  </div>
  
                  <div class="col-md-6">
                    <h6 class="mb-0">Task Due Date</h6>
                    <p class="fs-6">{{ taskById.dueDate | date: "yyyy'-'MM'-'dd" }}</p>
                  </div>
                </div>
  
  
                <h6 class="mb-0">Comments</h6>
                @if (commentArrayLength > 0) {
                <div class="vertical-stepper">
                  <div class="step">
                    <div class="step-content">
                      @for (comment of taskById.comments; track comment.id; let i = $index) {
                      {{ comment.taskComment }}
                      <br />
                      <small>{{ comment.createdDate | date: "yyyy'-'MM'-'dd" }} by {{ comment.createdBy }}</small>
                      @if (i
                      < commentArrayLength - 1) { <hr />
                      }
                      }
                    </div>
                  </div>
                </div>
                } @else {
                <p class="text-center">No Comments to show</p>
                }
                @if (showCommentTextArea == true) {
                <form [formGroup]="commentForm" (ngSubmit)="postComment(taskById.id)">
                  <div class="form-group">
                    <textarea class="form-control form-control-sm" rows="3" formControlName="taskComment"
                      placeholder="Enter a new comment"></textarea>
                  </div>
                  @if (commentForm.get('taskComment')?.invalid) {
                  <div class="text-danger">
                    @if (commentForm.get('taskComment')?.errors?.['required']) {
                    <small>Comment is required.</small>
                    }
                  </div>
                  }
  
                  <div class="text-center mt-2">
                    <div class="col-auto">
                      <button type="submit" class="btn btn-success btn-sm">Post Comment</button>
                    </div>
                  </div>
                </form>
                }
  
                @if (showCommentTextArea == false) {
                <div class="text-center">
                  <button type="button" class="btn btn-primary btn-sm" (click)="toggleComponents()">Add Comment</button>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="card">
      <div class="card-body"> -->
        @if (currentUserData.role.name === 'ADMIN') {
        <div class="d-flex justify-content-between">
          <div class="col-auto">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="taskAssignee" class="col-form-label">Task Assignee</label>
              </div>
              <div class="col-auto">
                <form [formGroup]="taskAssigneeForm">
                  <select id="taskAssignee" class="form-select form-select-sm" formControlName="taskAssignee"
                    (ngModelChange)="loadTasksTableOnChangeAssignee($event)">
                    <option value="" disabled selected>Select Task Assignee</option>
                    <option value="ALL">All</option>
                    @for (assignee of usersList; track assignee.id) {
                    <option value='{{ assignee.id }}'>{{ assignee.name }}</option>
                    }
                  </select>
                </form>
              </div>
            </div>
          </div>
    
          <div class="col-auto">
            <button type="button" class="btn btn-primary btn-sm mb-2" (click)="navigateToTaskForm()">Add New Task</button>
          </div>
        </div>
        }
      <!-- </div>
    </div> -->

    <div class="custom-nav">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-all-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-all-tasks"
            type="button" role="tab" aria-controls="nav-all-tasks" aria-selected="true" (click)="loadTasksByNavbarChange('ALL')">
            All Tasks
          </button>
          <button class="nav-link" id="nav-pending-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-pending-tasks"
            type="button" role="tab" aria-controls="nav-pending-tasks" aria-selected="false" (click)="loadTasksByNavbarChange('OPENED')">
            Opened Tasks
          </button>
          <button class="nav-link" id="nav-in-progress-tasks-tab" data-bs-toggle="tab"
            data-bs-target="#nav-in-progress-tasks" type="button" role="tab" aria-controls="nav-in-progress-tasks"
            aria-selected="false" (click)="loadTasksByNavbarChange('IN PROGRESS')">
            In Progress Tasks
          </button>
          <button class="nav-link" id="nav-completed-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-completed-tasks"
            type="button" role="tab" aria-controls="nav-completed-tasks" aria-selected="false" (click)="loadTasksByNavbarChange('COMPLETED')">
            Completed Tasks
          </button>
          <button class="nav-link" id="nav-overdue-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-overdue-tasks"
            type="button" role="tab" aria-controls="nav-overdue-tasks" aria-selected="false">
            Overdue Tasks
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-all-tasks" role="tabpanel" aria-labelledby="nav-all-tasks-tab"
          tabindex="0">
          <div class="row">
            @for (task of tasksList; track task.id; let i = $index) {
            <div class="col-md-6 col-xl-4">
              <div class="card stat-card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <!-- <div class="stat-info">
                      <h4 class="card-title">{{ task.name }}</h4>
                      <h3 class="mb-0">1,254</h3>
                      <span class="text-success">+12% <i class="fas fa-arrow-up"></i></span>
                    </div>
                    <div class="stat-icon bg-primary">
                      <i class="fas fa-tasks"></i>
                    </div> -->
                    <div>
                      <h6><span class="badge text-bg-secondary rounded-pill">#{{ i + 1 }}</span></h6>
                    </div>
                    <div>
                      @if (task.status == 'OPENED') {
                        <h6><span class="badge rounded-pill text-bg-info">{{ task.status }}</span></h6>
                      } @else if (task.status == 'IN PROGRESS') {
                        <h6><span class="badge rounded-pill text-bg-warning">{{ task.status }}</span></h6>
                      } @else if (task.status == 'COMPLETED') {
                        <h6><span class="badge rounded-pill text-bg-success">{{ task.status }}</span></h6>
                      }
                    </div>
                  </div>
                  <!-- <div class="d-flex flex-row mb-3"> -->
                    <!-- <div>
                      <i class="fas fa-tasks"></i>
                    </div> -->
                  <!-- </div> -->
                  <h5>{{ task.name }}</h5>
                  <!-- <div class="d-flex justify-content-between"> -->
                    <div>
                      <i class="fas fa-calendar-alt" style="color: #0D6EFD;"></i>
                      <span style="margin-left: 15px; color: #0D6EFD;">Assingned Date : {{ task.createdDate | date: "yyyy'-'MM'-'dd" }}</span>
                    </div>
                    <div>
                      <i class="fas fa-calendar-alt" style="color: #DC4C64;"></i>
                      <span style="margin-left: 15px; color: #DC4C64;">Due Date : {{ task.dueDate | date: "yyyy'-'MM'-'dd" }}</span>
                    </div>
                  <!-- </div> -->
                  <div>
                    <i class="fas fa-comments" style="color: #9FA6B2;"></i>
                    <span style="margin-left: 10px; color: #9FA6B2;">{{ task.comments.length }}</span>
                  </div>
                  <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="getTaskView(task.id)">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary ms-2" (click)="navigateToEditForm(task.id)">
                    <i class="fas fa-pen-to-square"></i>
                  </button>
                  @if (currentUserData.role.name === 'ADMIN') {
                    <button type="button" class="btn btn-sm btn-danger ms-2" (click)="deleteTaskById(task.id)">
                      <i class="fas fa-trash-can"></i>
                    </button>
                  }
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="tab-pane fade" id="nav-pending-tasks" role="tabpanel" aria-labelledby="nav-pending-tasks-tab"
          tabindex="0">
          <div class="row">
            @for (task of tasksList; track task.id; let i = $index) {
            <div class="col-md-6 col-xl-4">
              <div class="card stat-card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <!-- <div class="stat-info">
                      <h4 class="card-title">{{ task.name }}</h4>
                      <h3 class="mb-0">1,254</h3>
                      <span class="text-success">+12% <i class="fas fa-arrow-up"></i></span>
                    </div>
                    <div class="stat-icon bg-primary">
                      <i class="fas fa-tasks"></i>
                    </div> -->
                    <div>
                      <h6><span class="badge text-bg-secondary rounded-pill">#{{ i + 1 }}</span></h6>
                    </div>
                    <div>
                      @if (task.status == 'OPENED') {
                        <h6><span class="badge rounded-pill text-bg-info">{{ task.status }}</span></h6>
                      } @else if (task.status == 'IN PROGRESS') {
                        <h6><span class="badge rounded-pill text-bg-warning">{{ task.status }}</span></h6>
                      } @else if (task.status == 'COMPLETED') {
                        <h6><span class="badge rounded-pill text-bg-success">{{ task.status }}</span></h6>
                      }
                    </div>
                  </div>
                  <!-- <div class="d-flex flex-row mb-3"> -->
                    <!-- <div>
                      <i class="fas fa-tasks"></i>
                    </div> -->
                  <!-- </div> -->
                  <h5>{{ task.name }}</h5>
                  <!-- <div class="d-flex justify-content-between"> -->
                    <div>
                      <i class="fas fa-calendar-alt" style="color: #0D6EFD;"></i>
                      <span style="margin-left: 15px; color: #0D6EFD;">Assingned Date : {{ task.createdDate | date: "yyyy'-'MM'-'dd" }}</span>
                    </div>
                    <div>
                      <i class="fas fa-calendar-alt" style="color: #DC4C64;"></i>
                      <span style="margin-left: 15px; color: #DC4C64;">Due Date : {{ task.dueDate | date: "yyyy'-'MM'-'dd" }}</span>
                    </div>
                  <!-- </div> -->
                  <div>
                    <i class="fas fa-comments" style="color: #9FA6B2;"></i>
                    <span style="margin-left: 10px; color: #9FA6B2;">{{ task.comments.length }}</span>
                  </div>
                  <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="getTaskView(task.id)">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary ms-2" (click)="navigateToEditForm(task.id)">
                    <i class="fas fa-pen-to-square"></i>
                  </button>
                  @if (currentUserData.role.name === 'ADMIN') {
                    <button type="button" class="btn btn-sm btn-danger ms-2" (click)="deleteTaskById(task.id)">
                      <i class="fas fa-trash-can"></i>
                    </button>
                  }
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="tab-pane fade" id="nav-in-progress-tasks" role="tabpanel" aria-labelledby="nav-in-progress-tasks-tab"
          tabindex="0">
          <div class="row">
            @for (task of tasksList; track task.id; let i = $index) {
            <div class="col-md-6 col-xl-4">
              <div class="card stat-card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <!-- <div class="stat-info">
                      <h4 class="card-title">{{ task.name }}</h4>
                      <h3 class="mb-0">1,254</h3>
                      <span class="text-success">+12% <i class="fas fa-arrow-up"></i></span>
                    </div>
                    <div class="stat-icon bg-primary">
                      <i class="fas fa-tasks"></i>
                    </div> -->
                    <div>
                      <h6><span class="badge text-bg-secondary rounded-pill">#{{ i + 1 }}</span></h6>
                    </div>
                    <div>
                      @if (task.status == 'OPENED') {
                        <h6><span class="badge rounded-pill text-bg-info">{{ task.status }}</span></h6>
                      } @else if (task.status == 'IN PROGRESS') {
                        <h6><span class="badge rounded-pill text-bg-warning">{{ task.status }}</span></h6>
                      } @else if (task.status == 'COMPLETED') {
                        <h6><span class="badge rounded-pill text-bg-success">{{ task.status }}</span></h6>
                      }
                    </div>
                  </div>
                  <!-- <div class="d-flex flex-row mb-3"> -->
                    <!-- <div>
                      <i class="fas fa-tasks"></i>
                    </div> -->
                  <!-- </div> -->
                  <h5>{{ task.name }}</h5>
                  <!-- <div class="d-flex justify-content-between"> -->
                    <div>
                      <i class="fas fa-calendar-alt" style="color: #0D6EFD;"></i>
                      <span style="margin-left: 15px; color: #0D6EFD;">Assingned Date : {{ task.createdDate | date: "yyyy'-'MM'-'dd" }}</span>
                    </div>
                    <div>
                      <i class="fas fa-calendar-alt" style="color: #DC4C64;"></i>
                      <span style="margin-left: 15px; color: #DC4C64;">Due Date : {{ task.dueDate | date: "yyyy'-'MM'-'dd" }}</span>
                    </div>
                  <!-- </div> -->
                  <div>
                    <i class="fas fa-comments" style="color: #9FA6B2;"></i>
                    <span style="margin-left: 10px; color: #9FA6B2;">{{ task.comments.length }}</span>
                  </div>
                  <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="getTaskView(task.id)">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary ms-2" (click)="navigateToEditForm(task.id)">
                    <i class="fas fa-pen-to-square"></i>
                  </button>
                  @if (currentUserData.role.name === 'ADMIN') {
                    <button type="button" class="btn btn-sm btn-danger ms-2" (click)="deleteTaskById(task.id)">
                      <i class="fas fa-trash-can"></i>
                    </button>
                  }
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="tab-pane fade" id="nav-completed-tasks" role="tabpanel" aria-labelledby="nav-completed-tasks-tab"
          tabindex="0">
          <div class="row">
            @for (task of tasksList; track task.id; let i = $index) {
            <div class="col-md-6 col-xl-4">
              <div class="card stat-card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <!-- <div class="stat-info">
                      <h4 class="card-title">{{ task.name }}</h4>
                      <h3 class="mb-0">1,254</h3>
                      <span class="text-success">+12% <i class="fas fa-arrow-up"></i></span>
                    </div>
                    <div class="stat-icon bg-primary">
                      <i class="fas fa-tasks"></i>
                    </div> -->
                    <div>
                      <h6><span class="badge text-bg-secondary rounded-pill">#{{ i + 1 }}</span></h6>
                    </div>
                    <div>
                      @if (task.status == 'OPENED') {
                        <h6><span class="badge rounded-pill text-bg-info">{{ task.status }}</span></h6>
                      } @else if (task.status == 'IN PROGRESS') {
                        <h6><span class="badge rounded-pill text-bg-warning">{{ task.status }}</span></h6>
                      } @else if (task.status == 'COMPLETED') {
                        <h6><span class="badge rounded-pill text-bg-success">{{ task.status }}</span></h6>
                      }
                    </div>
                  </div>
                  <!-- <div class="d-flex flex-row mb-3"> -->
                    <!-- <div>
                      <i class="fas fa-tasks"></i>
                    </div> -->
                  <!-- </div> -->
                  <h5>{{ task.name }}</h5>
                  <!-- <div class="d-flex justify-content-between"> -->
                    <div>
                      <i class="fas fa-calendar-alt" style="color: #0D6EFD;"></i>
                      <span style="margin-left: 15px; color: #0D6EFD;">Assingned Date : {{ task.createdDate | date: "yyyy'-'MM'-'dd" }}</span>
                    </div>
                    <div>
                      <i class="fas fa-calendar-alt" style="color: #DC4C64;"></i>
                      <span style="margin-left: 15px; color: #DC4C64;">Due Date : {{ task.dueDate | date: "yyyy'-'MM'-'dd" }}</span>
                    </div>
                  <!-- </div> -->
                  <div>
                    <i class="fas fa-comments" style="color: #9FA6B2;"></i>
                    <span style="margin-left: 10px; color: #9FA6B2;">{{ task.comments.length }}</span>
                  </div>
                  <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="getTaskView(task.id)">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary ms-2" (click)="navigateToEditForm(task.id)">
                    <i class="fas fa-pen-to-square"></i>
                  </button>
                  @if (currentUserData.role.name === 'ADMIN') {
                    <button type="button" class="btn btn-sm btn-danger ms-2" (click)="deleteTaskById(task.id)">
                      <i class="fas fa-trash-can"></i>
                    </button>
                  }
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="tab-pane fade" id="nav-overdue-tasks" role="tabpanel" aria-labelledby="nav-overdue-tasks-tab"
          tabindex="0">
          <!-- <div class="row">
            @for (task of tasksList; track task.id; let i = $index) {
            <div class="col-md-6 col-xl-4">
              <div class="card stat-card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="stat-info">
                      <h4 class="card-title">All Tasks</h4>
                      <h3 class="mb-0">1,254</h3>
                      <span class="text-success">+12% <i class="fas fa-arrow-up"></i></span>
                    </div>
                    <div class="stat-icon bg-primary">
                      <i class="fas fa-tasks"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            }
          </div> -->
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          data-bs-backdrop="static" data-bs-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  (click)="onModalClose()"></button>
              </div>
              <div class="modal-body">
                <h3 class="text-center">Task Details</h3>
  
                <p class="fs-6" hidden>{{ taskById.id }}</p>
  
                <h6 class="mb-0">Task Name</h6>
                <p class="fs-6">{{ taskById.name }}</p>
  
                <h6 class="mb-0">Task Description</h6>
                <p class="fs-6">{{ taskById.description }}</p>
  
                <h6 class="mb-0">Task Assignee</h6>
                <p class="fs-6">{{ taskAssignee.name }}</p>
  
                <div class="d-flex justify-content-between">
                  <div class="col-md-6">
                    <h6 class="mb-0">Task Status</h6>
                    @if (taskById.status == 'OPENED') {
                    <span class="badge rounded-pill text-bg-info">{{ taskById.status }}</span>
                    } @else if (taskById.status == 'IN PROGRESS') {
                    <span class="badge rounded-pill text-bg-warning">{{ taskById.status }}</span>
                    } @else if (taskById.status == 'COMPLETED') {
                    <span class="badge rounded-pill text-bg-success">{{ taskById.status }}</span>
                    }
                  </div>
  
                  <div class="col-md-6">
                    <h6 class="mb-0">Task Due Date</h6>
                    <p class="fs-6">{{ taskById.dueDate | date: "yyyy'-'MM'-'dd" }}</p>
                  </div>
                </div>
  
  
                <h6 class="mb-0">Comments</h6>
                @if (commentArrayLength > 0) {
                <div class="vertical-stepper">
                  <div class="step">
                    <div class="step-content">
                      @for (comment of taskById.comments; track comment.id; let i = $index) {
                      {{ comment.taskComment }}
                      <br />
                      <small>{{ comment.createdDate | date: "yyyy'-'MM'-'dd" }} by {{ comment.createdBy }}</small>
                      @if (i
                      < commentArrayLength - 1) { <hr />
                      }
                      }
                    </div>
                  </div>
                </div>
                } @else {
                <p class="text-center">No Comments to show</p>
                }
                @if (showCommentTextArea == true) {
                <form [formGroup]="commentForm" (ngSubmit)="postComment(taskById.id)">
                  <div class="form-group">
                    <textarea class="form-control form-control-sm" rows="3" formControlName="taskComment"
                      placeholder="Enter a new comment"></textarea>
                  </div>
                  @if (commentForm.get('taskComment')?.invalid) {
                  <div class="text-danger">
                    @if (commentForm.get('taskComment')?.errors?.['required']) {
                    <small>Comment is required.</small>
                    }
                  </div>
                  }
  
                  <div class="text-center mt-2">
                    <div class="col-auto">
                      <button type="submit" class="btn btn-success btn-sm">Post Comment</button>
                    </div>
                  </div>
                </form>
                }
  
                @if (showCommentTextArea == false) {
                <div class="text-center">
                  <button type="button" class="btn btn-primary btn-sm" (click)="toggleComponents()">Add Comment</button>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
  </div>
</div>











































































<!-- <div class="vertical-stepper">
                        <div class="step">
                          <div class="step-dot"></div>
                          <div class="step-line"></div>
                          <div class="step-content">
                            First step content
                          </div>
                        </div>
                        <div class="step">
                          <div class="step-dot"></div>
                          <div class="step-line"></div>
                          <div class="step-content">
                            Second step content
                          </div>
                        </div> -->
        <!-- <div class="step">
                          <div class="step-dot"></div>
                          <div class="step-content">
                            Final step content
                          </div>
                        </div> -->
        <!-- </div> -->